<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="parrot1" class="sbertech.svm.Parrot"/>
    <bean id="parrot2" class="sbertech.svm.Parrot"/>
    <bean id="cat" class="sbertech.svm.Cat"/>
    <bean id="dog" class="sbertech.svm.Dog"/>
    <bean id="human" class="sbertech.svm.Human">
        <constructor-arg>
            <list>
                <ref bean="parrot1"/>
                <ref bean="parrot2"/>
            </list>
        </constructor-arg>
        <constructor-arg ref="cat"/>
        <constructor-arg ref="dog"/>
    </bean>
</beans>